* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table {
  border: 1px solid lightgray;
  width: 50%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid lightgray;
  padding: 8px;
  text-align: center;
}

section {
  margin: 3rem;
}

.result {
  display: flex;
  flex-flow: row-reverse;
  width: 337%;
  border: none;
  color: white;
  background: hsl(230deg 8.57% 86.27%);
}
