* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table {
  border: 1px solid lightgray;
  width: 50%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid hsla(260, 11%, 95%, 1);
  padding: 8px;
  text-align: center;
  background: hsla(240, 7%, 97%, 1);
}

section {
  margin: 3rem;
}

.result {
  display: flex;
  flex-flow: row-reverse;
  width: 337%;
  border: none;
  color: white;
  background: hsl(230deg 8.57% 86.27%);
}

.last {
  background-color: hsl(27.21deg 90.15% 60.2%);
}
