* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

section {
  width: 40%;
  margin: 3rem;
}

.keys input {
  border: 0.5px solid hsl(210deg 12.5% 96.86%);
  padding: 14px;
  height: 40px;
}

.lastColumn {
  background-color: hsl(27.21deg 90.15% 60.2%);
}

.screen {
  display: flex;
  flex-flow: row-reverse;
  color: white;
  padding: 5px;
  background: hsl(236deg 6.55% 55.1%);
}

.zero {
  grid-column: span 2;
}
